@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
  background-color: #F1FAFF;
}
body.dark {
  background: #303030
}
/*Navbar*/

header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
    background-color: #fff;
    border-radius: 10px;

}
.menu{ 
  display: flex; 
  align-items: center;
  
}
.menu ul {
  display: flex;
}
.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
/*.menu ul li a:hover{
  color: #DFF1FF;
}*/

#selected{
    font-weight: 800;
}
.menu nav img{
    display: none;
}

 .menu #btn_menu{
    font-size: 50px;
    color: #fff;
    display: none;
}
/*Switch */
.switch {
  background: #bebebe;
  border-radius: 1000px;
  border: none;
  margin-left: 36px;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  
}
.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  transform: scale(0.8);
  right: unset;
  border-radius: 100px;
  
}
.switch.active {
  background-color: #666666;
}
.switch.active:after {
  right: 0;
  left: unset;
  background: #303030;
  transform: scale(0.8);
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: none;
}
/*COVER*/

.container__cover{
    height: 50vh;
    width: 100%;
    background-image: url(./img/nathan-mullet-pmiW630yDPE-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 60rem;
}

.container__cover .text h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    padding-left: 20rem;
}

/*Haciendo la página Responsive*/

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }
     

}

@media screen and (max-width: 720px){
  .container__cover{
    height: 70vh;
    width: 100%;
  }
  body.dark .menu nav {
    background: #C8C8C8;
  }
    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 200px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }
    .menu ul{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }
    body.dark .menu ul li a {
      color: #303030;

    }
    .menu ul li a{
        color: #bebebe;
    }
    body.dark #selected {
      color: #fff;
      background: #303030;
    }
    #selected {
      padding: 10px 10px;
      border-radius: 50px;
      color: #fff;
      font-weight: 800;
      background: #2E5D93;
    }

    .menu nav img{
        display: block;
        width: 100px;
    }
    .logo img {
      width: 90px;
      height: 90px;
      padding-top: -50px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    body.dark .menu #btn_menu {
      color: #C8C8C8;
    }
    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
    .container__cover .text h1 {
      font-size: 4rem;
      align-items: center;
      text-align: center;
      padding-left: 45px;
      padding-right: 40px;
    }
    .switch{
      margin-top: -40px;
      margin-left: 0;
      position: absolute;
    }
}
body.dark .textt,
body.dark .texttt {
  color: #C8C8C8;
}
.textt {
  font-size: 2rem;
  padding-left: .5rem;
  color: #2E5D93;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
}
.texttt {
  font-size: 1.2rem;
  padding-left: .5rem;
  color: #2E5D93;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}
/*Formulario*/
body.dark .form {
  background: #C8C8C8;
}
.form {
  background-color: #fff;
  max-width: 100%;
  width: 90%;
  margin: 30px auto;
  padding: 3em 1.5em;
  border-radius: 1em;
}
.form_container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}
body.dark .form_title {
  color: #303030;
}
.form_title {
  text-align: center;
  color: #2E5D93;
  font-size: 1.9em;
  margin-bottom: .4em;
}
body.dark .form_input {
  color: #fff;
  font-weight: 700;
}
.form_input{
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  color: #bebebe;
  padding: .5em;
  background: transparent;
  border: none;

}
 .p_ca {
  width: 50%;
 /* height: 70%;*/
  margin-left: 12rem;
}
body.dark p{
  color: #303030;
}
p {
  font-size: 1rem;
  text-align: center;
  color: #2E5D93;
  margin-top: 10px;
  font-weight: 700;
}
@media screen and (max-width: 720px) {
  .p_ca {
    width: 70%;
    margin-left: 3rem;
  }
}